Flask==1.0.2
Jinja2>=2.10.1
request==2018.11.20
requests==2.31.0
werkzeug>=0.15.3
gunicorn==19.9.0
google-api-core==1.17.0
google-api-python-client==1.8.3
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.6.0
jsonify==0.5
oauth2client==4.1.2
oauthlib==2.1.0
pickleshare==0.7.5
pillow>=6.2.2
requests-oauthlib==1.0.0
requests-toolbelt==0.9.1
